body {
  width: 450px;
  font-family: Verdana, sans-serif;
  font-size: small;
  color: #080e73;
}

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}

#header {
  font-weight: bold;
  font-size: large;
}

.heading {
  color: #225;
}

.subheading {
  color: #225;
  font-weight: bold;
  font-size: larger;
  margin-top: 1.5em;
}

.domainList {
  list-style: none;
  padding-left: 1em;
  margin-top: 0.5em;
}

input {
  border: 1px solid #bbb;
}

input.domain {
  width: 15em;
  padding-left: 0.2em;
}

input.percentInput {
  width: 3em;
}

input.rightAlign {
  text-align: right;
  padding-right: 0.2em;
}

input#dimmerThreshold {
  width: 2em;
}

input#dimmerDelay {
  width: 4em;
}

input#dimmerDelayIncrement {
  width: 3em;
}

input#startTime, input#endTime {
  width: 3.5em;
  padding-left: 0.2em;
}

div#weekdays {
  margin: 0;
  padding: 0;
}

.details {
  font-size: x-small;
  margin-top: 4px;
  color: #999;
}

button {
  background: #00af3f;
  color: #fff;
  font-family: Verdana;
  border: 1px solid #005;
}

button#save_button {
  font-size: larger;
  font-weight: bold;
  background: #ff1b1b;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

#saved_message {
  background-color: #a0ffa0;
  border: 1px solid #00aa00;
  padding: 0.4em;
  opacity: 1;
}
